{% load static %}
<section class="about" id="about">

    <h1 class="heading"> about us <span>why choose us</span> </h1>    

    <div class="row">

        <div class="image">
            <!-- <img src="image/about-img.png" alt=""> -->
            
            <img src="{% static 'image/nathan-dumlao-6VhPY27jdps-unsplash.jpg' %}">
        </div>

        <div class="content">
            <h3 class="title">what's make our coffee special!</h3>
            <p>We provide coffee made from natural ingredients. We don't provide any bad materials into the products. Also we don't usually use plastic. We are very proud that we are very successful in terms of giving healthy and Amazing producs with great great service!!</p>
            <!-- <a href="#" class="btn">read more</a> -->
            <div class="icons-container">
                <div class="icons">
                    <!-- <img src="image/about-icon-1.png" alt=""> -->
                    <img src="{% static 'image/about-icon-1.png' %}">
                    <a href="http://127.0.0.1:8000/#menu"><h3>quality coffee</h3></a>
                </div>
                <div class="icons">
                    <!-- <img src="image/about-icon-2.png" alt=""> -->
                    <img src="{% static 'image/about-icon-2.png' %}">

                    <h3>our branches</h3>
                </div>
                <div class="icons">
                    <!-- <img src="image/about-icon-3.png" alt=""> -->
                    <img src="{% static 'image/about-icon-3.png' %}">

                    <h3>free delivery</h3>
                </div>
            </div>
        </div>

    </div>

</section>