{% load static %}
<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>Welcome to our Coffee Shop</h3>
            <a href="http://127.0.0.1:8000/#menu" class="btn">Explore Our Menu</a>
        </div>

        <div class="image">
            <img src="{% static 'image/home-img-1.png' %}" class="main-home-image" alt="">
        </div>

    </div>

    <div class="image-slider">
        <img src="{% static 'image/home-img-1.png' %}" alt="">
        <img src="{% static 'image/home-img-2.png' %}" alt="">
        <img src="{% static 'image/home-img-3.png' %}" alt="">
    </div>

</section>
