{% load static %}
<section class="review" id="review">

    <h1 class="heading"> reviews <span>what people think about us!</span> </h1>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <i class="fas fa-quote-left"></i>
                <i class="fas fa-quote-right"></i>
                <!-- <img src="image/pic-1.png" alt=""> -->
                <img src="{% static 'image/IBU.jpg' %}">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p> It's a great experience. The ambiance is very welcoming and charming. Amazing coffees and service. Staff are extremely knowledgeable and make great recommendations.</p>
                <h3>Ibrahim Patwary</h3>
                <span>satisfied client</span>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-left"></i>
                <i class="fas fa-quote-right"></i>
                <!-- <img src="image/pic-2.png" alt=""> -->
                <img src="{% static 'image/Adnan.jpg' %}">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>This place is great! Atmosphere is chill and cool but the staff is also really friendly. They know what they’re doing and what they’re talking about, and you can tell making the customers happy is their main priority. Food is pretty good, some italian classics and some twists, and for their prices it's 100% worth it.</p>
                <h3>Gazi Adnan</h3>
                <span>Regular Client</span>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-left"></i>
                <i class="fas fa-quote-right"></i>
                <!-- <img src="image/pic-3.png" alt=""> -->
                <img src="{% static 'image/Shyeam.jpg' %}">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>We are so fortunate to have this place just a few minutes drive away from home. Coffees are stunning, both the hot and cold one. Love this place and will continue to visit.</p>
                <h3>Shyeam Ahmed</h3>
                <span>satisfied client</span>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-left"></i>
                <i class="fas fa-quote-right"></i>
                <!-- <img src="image/pic-4.png" alt=""> -->
                <img src="{% static 'image/Tanvir.jpg' %}">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Excellent. Amazing Coffees, appealing atmosphere, helpful staff, and brilliant service.</p>
                <h3>Gazi Tanvir</h3>
                <span>Regular Client</span>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>